<div class="customer">
  <div class="layer">
  </div>
</div>
<div class="middle-text">
  <div class="middle-line">
    <h1>Many well reputed salons are<br> connected with us</h1>
  </div>
  <!-- <div class="bottom-line">
      <a>Browse Top Rated stylists available here!</a>
    </div> -->
</div>
<div class="results">
  <mat-spinner *ngIf="showSpinner" [mode]="Indeterminate">
    </mat-spinner>
    
    <mat-card *ngFor="let job of jobs" class="materialcard">
      <mat-card-header>
        
        <mat-card-title>{{job.name}}</mat-card-title>
        <mat-card-subtitle style="color:dodgerblue">{{job.email}}</mat-card-subtitle>
        <div> 
            <img  class="search-img" src="assets/pic.jpg">
          </div>
      </mat-card-header>
      <mat-card-content>
        <ul class="jobs">
          <li>
            <a #description>{{job.description}}</a>
          </li>
          <li>
              <a #payment style="color:dodgerblue">{{job.facebook}}</a>
            </li>
          <li>
            <a #noOfBids style="color:dodgerblue">{{job.website}}</a>
          </li>
          <li>
            <a #Place>{{job.street_address}}</a>
          </li>
          <li>
            <a #postTime>{{job.country}}</a>
          </li>
          <!-- <li>
              <button class="bid-button" mat-raised-button type="button" (click)="salon()">Book now</button>
          </li> -->
        </ul>
      </mat-card-content>
    </mat-card>
