$menuItems: 9;
$listHeight: 3em;
body {
  background: #fff !important;
  transition: background 0.1s;
}

.outlet-area {
  height: auto;
}

.header {
  top:0;
  left: 0;
  right: 0;
  z-index: 99;
  position: fixed;
  display: block;
  width: 100%;
  height: 72px;
  user-select: none;
  padding: 0;
}

.darker{
  background: rgba(0, 0, 0, 0.8);
}

.container {
  margin: 0 auto;
  max-width: 2100px;
  padding: 20px 22px;
  position: relative;
  z-index: 9;
}

.header::after {
  content: '';
  clear: both;
  display: block;
}

.logo {
  position: absolute;
  left: 0%;
  padding: 0.2em 1em 1em 0em;
  font-family: 'MontserratAlternates';
  font-size: 2rem;
  margin: 0;
  z-index: 9;
  color: aliceblue;
}

.item-logo {
  position: absolute;
  font-family: 'MontserratAlternates';
  top: -18px;
  font-size: 2em !important;
  transform: translateY(-23px);
}

.item-link{
  font-family: 'segoe-regular';
  letter-spacing: 2px;
}

.user-info {
  display: none;
  position: absolute;
  background: none;
  font-size: 1rem;
  margin: 0;
  padding: 0.9em 1em 1em 0em;
  z-index: 4;
  color: aliceblue;
  right: 2%;
  cursor: pointer;
  transform: translateX(0);
  transition: 0.2s;
}

.user-info.ham-clicked {
  visibility: hidden;
  transform: translateX(200%);
  transition: 0.2s;
}

.user-info.mobile-match {
  display: block;
}

.right-button{
    position: relative;
    top:-10px;
}

.my-navi {
  display: flex;
  justify-content: space-between;
  cursor: default;
  margin: 0 -1% 0 30%;
  padding: 0 22px;
  width: auto;
  z-index: 5;
  height: 44px;
  text-align: -webkit-auto;
  user-select: none;
}
.my-navi2 {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    cursor: default;
    margin: 0 -10px;
    padding: 0 22px;
    width: auto;
    z-index: 5;
    height: 44px;
    text-align: -webkit-auto;
    user-select: none;
  }

.my-navi li {
  display: contents;
  position: relative;
  height: $listHeight;
  z-index: 6;
  vertical-align: top;
}

.my-navi2 li {
    display: inline-block;
    position: relative;
    height: $listHeight;
    z-index: 6;
    vertical-align: top;
  }

.my-navi li a {
  display: block;
  padding: 1em 3em;
  z-index: 4;
  color: #fff;
  text-decoration: none;
  font-weight: 50px;
  font-size: 0.95em;
  text-indent: 5%;
  padding: 0;
  width: auto;
  transform: translateY(15px);
  transition: 0.1s;
}

.my-navi2 li a {
    display: block;
    padding: 1em 3em;
    z-index: 4;
    color: #fff;
    text-decoration: none;
    font-weight: 50px;
    font-size: 0.95em;
    text-indent: 5%;
    padding: 0;
    width: auto;
    transform: translateY(15px);
    transition: 0.1s;
  }

.my-navi li a:hover {
  color: grey;
  transition: 0.2s;
}
.my-navi2 li a:hover {
    color: grey;
    transition: 0.2s;
  }

.list-user {
  padding: 3px;
}

@media ( hover: none) {
  .my-navi li a:hover {
    color: #fff;
  }
  .my-nav2 li a:hover {
    color: #fff;
  }
}

.about-div {
  visibility: hidden;
}

@media only screen and (max-width: 1044px) {
  .header {
    min-width: 320px;
  }
}

@media only screen and (min-width: 940px) {
    .my-navi{
        margin: 0 -1% 0 50%;
    }
}

@media only screen and (max-width: 767px) {
  .header {
    max-height: none;
    transition: background 0.35s linear, height 0.35s ease-in 100ms;
  }
  .header.ham-clicked {
    background: black;
    height: 100%;
    max-height: none;
    transition: background 0.35s linear, height 0.35s ease-in;
  }
  .container {
    padding: 0 22px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
  }
  .upper-row {
    z-index: 8;
  }
  .logo {
    left: 20%;
  }
  .menu-toggle {
    position: absolute;
    background: none;
    padding: 1em;
    z-index: 8;
    top: 0.5em;
    left: 0.2em;
    cursor: pointer;
  }
  .hamberger,
  .hamberger::before,
  .hamberger::after {
    content: '';
    display: block;
    background: #fff;
    height: 0.05em;
    width: 1em;
    border-radius: -0.2em;
    transition: 0.5s;
  }
  .hamberger.ham-clicked {
    background: rgba(0, 0, 0, 0);
  }
  .hamberger.ham-clicked::after {
    transform: rotate(45deg);
  }
  .hamberger.ham-clicked::before {
    transform: translateY(1px) rotate(135deg);
  }
  .hamberger::before {
    transform: translateY(-0.3em);
  }
  .hamberger::after {
    transform: translateY(0.25em);
  }
  .my-navi {
    display: block;
    position: absolute;
    background: none;
    top: 44px;
    bottom: 0;
    height: auto;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 5;
    margin: 0;
    padding: 0 3em;
    list-style: none;
    visibility: hidden;
    overflow: hidden;
    overflow-y: auto;
    transition: visibility 0s linear 1s; //, transform 0.25s;
    // transform: translateY(0);
  } // .my-navi.about-clicked{
  //   transform: translateY(-200px);
  //   z-index:-1;
  //   transition: 0.25s;
  //   overflow: visible;
  // }
  // .upper-row.about-clicked{
  //   height:48px;
  //   background: black;
  // }
  // .navi-area{
  // }
  .my-navi li {
    position: relative;
    display: block;
    border-bottom: 1px solid #333;
    height: $listHeight;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transform: scale(1.1) translateY(-24px);
    transition: opacity 0.35s ease-out, transform 0.35s ease-out, -webkit-transform 0.35s ease-out;
  }
  .my-navi.ham-clicked {
    visibility: visible;
    transition-delay: 0s;
  }
  .my-navi li.ham-clicked {
    opacity: 1;
    pointer-events: auto;
    transform: none;
  }
  .my-navi li>:first-child {
    padding-top: 1em;
  }
  .my-navi li:last-child {
    border-bottom: 1px solid silver;
    transition-delay: 0s;
  }
  .my-navi li.ham-clicked {
    @for $i from 1 through $menuItems {
      &:nth-child(#{$i}) {
        transition-delay: #{0.05 + ($i * 0.05)}s;
      }
    }
  }
  .my-navi li {
    @for $i from 1 through $menuItems {
      &:nth-child(#{$i}) {
        transition-delay: #{0.01 - ($i * 0.02)}s;
      }
    }
  }
  .my-navi li a {
    font-size: 1em;
    background-position: left center;
    height: 100%;
    transform: translateY(0);
  }
}

.fa {
  font-size: 1.5em;
}

.user-tool-area {
  min-width: 320px;
}

.user-info-navi {
  position: absolute;
  right: 2%;
  padding: 0;
  margin: 0;
  width: 288px;
  top: 52px;
}

.user-info-navi.user-clicked {
  z-index: 2;
}

.user-info-navi.user-not-clicked {
  transform: translateY(-200%);
}

@media only screen and (max-width: 1268px) and (min-width:1024px) {
  .user-info-navi {
    position: fixed;
  }
}

@media only screen and (min-width: 1269px) {
  .user-info-navi {
    right: -9%;
  }
}

.site-navi {
  position: fixed;
  background: none;
  height: auto;
  max-height: $listHeight*7;
  width: 288px;
  margin: 0;
  margin-right: 0;
  top: 52px;
  bottom: 0;
  right: 2%;
  padding: 0 3em;
  list-style: none;
  visibility: hidden;
  overflow: hidden;
  overflow-y: auto;
  transform: translate(20px, -20px);
  transition: 0.2s;
}

.site-navi.user-not-logged {
  height: auto;
  max-height: $listHeight*3;
  width: 220px;
}

.site-navi li:first-child {
  text-align: center;
  height: 4.5em;
}

.user-name {
  position: relative;
  top: 1.5em;
}

.profile-pic {
  position: absolute;
  top: -10px;
  width: 70px;
  height: 50px;
  left: 31%;
  border-radius: 50%;
  font-size: 3em;
  text-align: center;
}

.user-pointer {
  content: '';
  position: absolute;
  width: 1px;
  height: 1px;
  border: 15px solid transparent;
  border-bottom-color: #fafafa;
  right: 0.75em; // top:-10px;
  margin-left: -5px;
  z-index: 3;
  visibility: hidden;
  transform: translateX(-25px);
  transition: 0s;
}

.user-pointer.large-query {
  position: absolute;
  top: 30px;
  right: -5px;
  z-index: 3;
}

.user-pointer.small-query {
  top: -22px;
}

.user-pointer.trans-query {
  top: 30px;
}

.user-pointer.user-clicked {
  transform: translateX(0);
  visibility: visible;
  transition: 0.2s;
  transition-delay: 0.2s;
}

.site-navi li {
  position: relative;
  display: block;
  border-bottom: 1px solid silver;
  height: $listHeight;
  padding-top: 20px;
  top: 30px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transform: scale(-1.1) translateY(24px);
  transition: opacity 0.25s ease-out, transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.site-navi.user-not-logged li {
  text-align: unset;
  top: 20px;
  height: 3em;
}

.site-navi.user-clicked {
  visibility: visible;
  background: #fafafa;
  border: 1px solid #d6d6d6;
  border-radius: 2px;
  transform: translate(0, 0);
  transition: 0.35s;
  transition-delay: 0s;
}

.site-navi li.user-clicked {
  opacity: 1;
  pointer-events: auto;
  transform: none;
  transition-delay: 0s;
}

.site-navi li>:first-child {
  padding-top: 1em;
}

.site-navi li:last-child {
  border-bottom: 1px solid #333;
  transition-delay: 0s;
}

.site-navi li.user-clicked {
  @for $i from 1 through $menuItems {
    &:nth-child(#{$i}) {
      transition-delay: #{0.05 + ($i * 0.05)}s;
    }
  }
}

.site-navi li {
  @for $i from 1 through $menuItems {
    &:nth-child(#{$i}) {
      transition-delay: #{0.01 - ($i * 0.02)}s;
    }
  }
}

.site-navi li a {
  color: rgba(0, 0, 0, 0.55);
  font-size: 1em;
  background-position: left center;
  height: 100%;
  transform: translateY(0);
}

.site-item a {
  cursor: pointer;
}

.site-item-icon {
  display: inline-block;
  font-size: 1em;
  margin-right: 1em;
  width: 1em;
  text-align: right;
  color: rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 1268px) {
  .site-navi {
    right: 2%;
  }
}

@media only screen and (min-width: 1180px) {
  .site-navi.user-not-logged {
    right: unset;
  }
}

@media only screen and (min-width: 1268px) {
  .site-navi {
    right: unset;
  }
}

@media only screen and (max-width: 1024px) {
  .site-navi {
    min-width: 320px;
    margin-right: 0;
  }
  .site-navi.user-not-logged {
    min-width: 220px;
  }
  .profile-pic {
    left: 34%;
  }
}

@media only screen and (min-height: $listHeight*7),
(max-width:320px) and (min-height:$listHeight*7) {
  .user-tool-area,
  .site-navi {
    height: $listHeight*7;
  }
  .site-navi.user-not-logged {
    height: $listHeight*3;
  }
  .profile-pic {
    left: 35.5%;
  }
}

@media only screen and (max-width: 340px) {
  .user-info-navi {
    border-radius: 0;
    border-width: 0 0 1px 0;
    top: 48px;
    left: 0;
    right: 0;
    width: 100%;
  }
  .site-navi {
    left: 0;
    right: 0;
    width: inherit;
  }
  .site-navi.user-not-logged {
    left: unset;
    right: 2%;
  }
  .user-pointer {
    right: 1.25em;
  }
  .profile-pic {
    left: 35.5%;
  }
}
.signUp-form {
  margin: 0 auto;
  max-width: 500px;
  font-size: 0.8em;
  width: 100%;
}
@media only screen and (max-width: 430px) {
  .signUp-form{
    position: relative;
  }

  .modal-full-width {
    width: 70%;
    padding: 5px 20px 5px 20px;
  }
}

@media only screen and (min-width: 430px) {
  .signUp-form {
    min-width: 340px;
  }
  .modal-full-width {
    width: 100%;
    padding: 5px 20px 5px 20px;
  }
}

.btnWrap{
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.btnWrap ul{
  display:block;
  list-style: none;
}
.btnWrap ul li{
  padding:10px;
}

.footer{
  top:-20px;
  font-size:0.7em;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.form-button{
  background:rgb(0, 119, 255);
  color: white;
  border-radius: 5px;
  padding:5px;
  min-width:200px;
}

.options{
  position: relative;
  top:20px;
}

.login-dialog{
  top:60px;
}

.close{
  outline:none;
}
