<mat-card class="card">
  <mat-card-content class="material-content">
    <div class="Personal-info">
      <div class="info-group">
        <label class="col-sm-3 control-label">Full name : </label>
        <p class="form-control-static">{{ details?.firstName +' '+ details?.lastName}}</p>
      </div>
      <div class="info-group">
        <label class="col-sm-3 control-label">User Name : </label>
        <p class="form-control-static">{{ details?.userName }}</p>
      </div>
      <div class="info-group">
        <label class="col-sm-3 control-label">Email : </label>
        <p class="form-control-static">{{ details?.email }}</p>
      </div>
      <div class="info-group">
        <label class="col-sm-3 control-label">Role : </label>
        <p class="form-control-static">{{ details?.role }}</p>
      </div>
      <div class="info-group">
        <label class="col-sm-3 control-label">Availability : </label>
        <mat-slide-toggle
        [(ngModel)]="checked"
        [color]="primary"
        (change)="changed()">
        Slide to ajust availability status
      </mat-slide-toggle>
      </div>
    </div>
  </mat-card-content>
</mat-card>