.card{
    position: relative;
    max-width: 500px;
    width:95%;
}
.material-content{
    position:relative;
}
.info-group{
    position: relative;
    display: flex;   
}

@media screen and (max-width: 590px) {
    .info-group{
        display: block;   
    }
}