<div class="stylist">
  <div class="layer">
   
  </div>
  <div class="middle-text">
      <div class="middle-line">
        <h1>Many skilled stylists available to be<br>Hired By You!</h1>
      </div>
      <div class="bottom-line">
        <a>Browse Top Rated stylists available here!</a>
      </div>
    </div>
</div>
<div class="stylist-content">
  <div class="adjustments">
      <mat-card class="material-card">
          <mat-card-header>
            <mat-card-title>Filter your jobs</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <ul style="list-style:none; position:relative; display:block; left:-20px;">
              <li>
                <label for="firstSlider">Rate</label><br>
                <mat-slider [thumb-label]="true"
                            [max]="5"
                            [min]="0"
                            [step]="1"
                            [(ngModel)]="rate"
                            (input)="searchUsingRate()"
                            (change)="searchUsingRate()"
                  #firstSlider></mat-slider>
              </li>
              <li>
                  <mat-form-field>
                    <label for="Skills">Skills</label><br>
                    <mat-select #options [(value)]="skills" (change)="searchUsingSkills()" >
                    <mat-option value="Barber">Baber</mat-option>
                    <mat-option value="ClipperWork">Clipper Work</mat-option>
                    <mat-option value="DryCutting">Dry Cutting</mat-option>
                    <mat-option value="Makeup">Makeup</mat-option>
                    </mat-select>
                  </mat-form-field>
                </li>
                 <li>
                  <mat-form-field>
                    <label for="Location">Location</label><br>
                    <mat-select #Location [(value)]="location" (change)="searchUsingLocation()">
                    <mat-option value="Califonia">Califonia</mat-option>
                    <mat-option value="Florida">Florida</mat-option>
                    <mat-option value="Denver">Denver</mat-option>
                    </mat-select>
                  </mat-form-field>
                </li>
                  <li>
                    <mat-form-field>
                       <label for="calender">Date</label><br>
                       <input #calender matInput [matDatepicker]="picker" [(ngModel)]="date" (dateInput)="searchUsingDate()" (dateChange)="searchUsingDate()">
                       <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                       <mat-datepicker touchUi="true" #picker></mat-datepicker>
                    </mat-form-field>
                  </li>
            </ul>
          </mat-card-content>
      </mat-card>
  </div>
  <div class="results">
      <mat-spinner *ngIf="showSpinner" [mode]="Indeterminate">
        </mat-spinner>
        
        <mat-card *ngFor="let job of jobs" class="materialcard">
          <mat-card-header>
            
            <mat-card-title>{{job.name}}</mat-card-title>
            <mat-card-subtitle style="color:dodgerblue">{{job.distance}}</mat-card-subtitle>
            <div> 
                <img  class="search-img" src="assets/pic.jpg">
              </div>
          </mat-card-header>
          <mat-card-content>
            <ul class="jobs">
              <li>
                <a #description>{{job.description}}</a>
              </li>
              <li>
                  <a #payment style="color:dodgerblue">{{job.payment}}</a>
                </li>
              <li>
                <a #noOfBids style="color:dodgerblue">{{job.noOfBids}}</a>
              </li>
              <li>
                <a #Place>{{job.place}}</a>
              </li>
              <li>
                <a #postTime>{{job.postTime}}</a>
              </li>
              <li>
                  <button class="bid-button" mat-raised-button type="button" (click)="salon()">Book now</button>
              </li>
            </ul>
          </mat-card-content>
        </mat-card>
  </div>
    
</div>
